version: '3.8'
services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - POSTGRES_DB=devops_db
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    depends_on:
      - db
  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=devops_db
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password