name: Reusable Docker Build
on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string

jobs:
  build-and-push:
    runs:
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: Flowerski
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: Flowerski/${{ inputs.image_name }}:latest